#a:hover{
   color: #0069AB;
}
#background{
   background-image:linear-gradient(90deg, #A7E2FF,#0095DE);
}
#color2{
   color:linear-gradient(to right, #0179B4, #88D8FF) ;
}
#color {
   background: linear-gradient(to right, #0179B4, #88D8FF);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   color: transparent;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body{
   font-family: 'Manrope', sans-serif;
}
#svg{
   position: absolute;
   margin-top: -40vh;
   width: 100%;
}
html{
   scroll-behavior: smooth;
}
#background2{
   background-image:linear-gradient(-45deg, #C0EAFF,#ffFFFFFF ,#ffffff);
}
#background3{
   background-image: linear-gradient(130deg, #C0EAFF,#ffffff,#ffffff);
}
#background4{
   background-image: linear-gradient(-130deg, #C0EAFF,#ffffff,#ffffff);
}
@media only screen and (max-width: 900px){
   .column1{
      padding: 0 0 0  115px;
   }
   .column2{
      margin-top: 70vh;
   }
   .column3{
      padding: 0 0 0  130px;
margin-top: 140vh;
   }
}